<div class="container ">
  <div class="row mb-5 ">
    <h2 class="col-6 ">All Books That We have,</h2>
    <button data-bs-toggle="modal" data-bs-target="#addModal" class="col-6 addBooksLabel" style="border-style: none; outline-style: none; background: none;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="green" class="bi bi-plus-circle-fill" id="plusIcon" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
    </svg>Add Book</button>
  </div>
  <div class="row">
    <div class="table-responsive container">
      <table class="table custom-table" *ngIf="bookList">
        <thead>
          <tr>
            <th scope="col-1">ID</th>
            <th scope="col-1">Book ID</th>
            <th scope="col-3">Name</th>
            <th scope="col-3">Author</th>
            <th scope="col-2">Category</th>
            <th scope="col-1">QTY</th>
            <th scope="col-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of bookList">
            <td>{{ book.id }}</td>
            <td>{{ book.bid }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.category }}</td>
            <td>{{ book.qty }}</td>
            <td>
              <button (click)="setBook(book)" data-bs-toggle="modal" data-bs-target="#deleteModal"
                class="btn btn-danger removeBtn">
                <i class="bi bi-trash-fill"></i></button>&nbsp;
              <button (click)="setBook(book)" data-bs-toggle="modal" data-bs-target="#editModal"
                class="btn btn-success editBtn">
                <i class="bi bi-pencil-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!--Delete btn Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="deleteModalLabel">
              Warning <i class="bi bi-exclamation-triangle"></i>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">Do you want to delete "{{ book?.name }}" ?</div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              No Thanks
            </button>
            <button type="button" class="btn btn-danger" (click)="removeBtnOnClick()" data-bs-dismiss="modal">
              Yes, Delete
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- add btn modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="addModalLabel">edit book details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text"
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Author:</label>
                <input type="text"
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Category:</label>
                <input type="text" 
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">QTY:</label>
                <input type="number"
                  class="form-control" id="recipient-name" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="loadBooks()" data-bs-dismiss="modal">
              No Thanks
            </button>
            <button type="button" (click)="addBook()" class="btn btn-success" data-bs-dismiss="modal">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- edit btn modal -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">edit book details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">ID:</label>
                <input type="text" value="{{ book?.bid }}" disabled class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Name:</label>
                <input type="text" [(ngModel)]="book && book.name" [ngModelOptions]="{ standalone: true }"
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Author:</label>
                <input type="text" [(ngModel)]="book && book.author" [ngModelOptions]="{ standalone: true }"
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">Category:</label>
                <input type="text" [(ngModel)]="book && book.category" [ngModelOptions]="{ standalone: true }"
                  class="form-control" id="recipient-name" />
              </div>
              <div class="mb-3">
                <label for="recipient-name" class="col-form-label">QTY:</label>
                <input type="number" [(ngModel)]="book && book.qty" [ngModelOptions]="{ standalone: true }"
                  class="form-control" id="recipient-name" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="loadBooks()" data-bs-dismiss="modal">
              No Thanks
            </button>
            <button type="button" (click)="editBtnOnClick()" class="btn btn-success" data-bs-dismiss="modal">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>